@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Michroma&display=swap');

@import "tailwindcss";

@theme {
  --color-water: #4287f5;
  --color-page: var(--background);
  --color-page-darker: #e8e0d0;
  --color-black: var(--foreground);
  --shadow-custom: black 1px 1px 4px;
}

:root {
  font-family: Jura, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 20px;

  --foreground: #213547;
  --background: #f8f0e0;
  --accent: #2937ff;
  color-scheme: light dark;
  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

.dark {
  color-scheme: dark;
  --foreground: #f8f0e0;
  --background: #213547;
  --accent: #ffb429;
}

body {
  position: relative;
  z-index: 0;
}

body::before {
  content:"";
  position: absolute;
  /* background: radial-gradient(#bbb 2px, transparent 2px); */
  background-color: var(--color-page);
  background-size: 10px 10px;
  width: 200%;
  height: 400%;
  top: -50%;
  left: -50%;
  z-index: -1;
  transform: rotate(45deg);
  animation: pan 2s linear infinite;
}

* {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

p {
  margin: 0;
}

a {
  color: var(--accent);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

img {
  max-width: 100%;
}

@keyframes pan {
  0% {
    transform: translateX(0) rotate(45deg);
  }
  100% {
    transform: translateX(-14px) rotate(45deg);
  }  
}